@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* ############## utility classes #############  */
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}


.btn-grad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
}

.btn-grad {
    margin: 10px;
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



/* ############## navbar styling #############  */
#navbar {
    height: 5.5rem;
    opacity: .9;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: black;
    box-shadow: 5px 5px 10px 5px #aaa;
}

.navbar-container input[type="checkbox"],
.hamburger-lines {
    display: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .6rem;
}

.logo {
    order: 1;
}

.menu-items {
    order: 2;
    display: flex;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.9rem;
    font-weight: 500;
}

.menu-items a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.864);
}

.logo {
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.864);
}

.menu-items a:hover {
    color: rgb(105, 199, 236);
}

.showcase-btn {
    padding: 1rem 2.5rem;
    font-size: 2rem;
}

/* ########### showcase styling #############  */
#showcase {
    background: url(../images/background\ pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;

}

.showcase-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.showcase-container .main-head {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    border: 4px solid black;
    margin-bottom: 2rem;
    margin-top: 5rem;
    animation: main-head 1s forwards ease-in-out;

}

@keyframes main-head {
    from {
        transform: translateX(-500%);
    }

    to {
        transform: translateX(0%);
    }
}

.showcase-container .techno-head {
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    animation: techno-head-date 1s forwards ease-in-out;
}

.dated {
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    text-align: right;
    margin-top: .7rem;
    margin-bottom: 2rem;
    animation: techno-head-date 1s forwards ease-in-out;
}

@keyframes techno-head-date {
    from {
        transform: translateX(500%);
    }

    to {
        transform: translateX(0%);
    }
}

.showcase-btn a {
    text-decoration: none;
    color: white;
}

.showcase-container .showcase-btn {
    list-style-type: none;
    /* background-color: black; */
    color: white;


    animation: showcase-button .8s forwards ease-in-out;
}

@keyframes showcase-button {
    from {
        transform: translateY(-500%);
    }

    to {
        transform: translateY(0%);
    }
}


/* ########## event styling #########  */
#event {
    padding: 5rem 0;
    background-color: #ddd;
}


.event-container h2 {
    color: #555;
    font-size: 1.8rem;
}

.event-container p {
    font-size: 1.6rem;
    color: #555;
}

.event-container .main-event-heading {
    font-size: 3rem;
    color: black;
    font-weight: 600;
}

/* ########## topic styling ###########  */
#topics {
    padding: 5rem 0;
    background-color: #eee;
}

.topic-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: #555;
    margin-bottom: 2rem;
}

.topic-container {
    display: flex;
    flex-wrap: wrap;
}

.topic {
    display: flex;
    flex: 1 1 37rem;
    margin: 0 5rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 20px 0px rgba(26, 22, 22, 0.301);
}

.topic-description {
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
}

.topic-description h2 {
    margin: 0 2rem;
    font-size: 1.6rem;
    color: #444;
}

.topic-description p {
    margin: 0 2rem;
    font-size: 1.4rem;
}

.topic-description button {
    margin: 0 1.9rem;
    margin-top: 1rem;
}

.topic-img-container {
    flex: 1 1 40rem;
    height: 23rem;
}

.topic-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}




/* ########## gallery-section ############  */

#gallery {
    padding: 5rem 0;
}

.gallery-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: #555;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30rem;
    justify-content: space-around;
    align-content: space-between;

}

.gallery-pic {
    position: relative;
    margin: 0 2rem;
    margin-top: 4rem;

}

.gallery-pic-container {
    width: 30rem;
    height: 20rem;
}

.gallery-pic-container img {
    width: 100%;
    height: 100%;
}

.gallery-description {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all .5s ease-in-out;

}

.gallery-description button {
    font-size: 1.6rem;
}

.gallery-pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all .5s ease-in-out;
}

.gallery-pic:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.gallery-pic:hover .gallery-description {
    opacity: 1;
    top: 58%;
}


/* ############# about section styling ##########  */
#about {
    padding: 5rem 0;
}

.about-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: #555;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-person {
    margin: 0 4rem;
    margin-top: 3rem;
}

.about-img-container img {
    display: block;
    width: 23rem;
    height: 23rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.about-description {
    margin-top: 1.5rem;
    text-align: center;
}

/* ########### contact us styling ############  */
#contact {
    padding: 5rem 0;
    background: #ccc;
}

.contact-container {
    display: flex;
    background: #fff;
    position: relative;
}

.onclickbutton {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: none;

}

.contact-img {
    flex: 1 1 50rem;
}

.contact-img {
    flex: 1 1 30rem;
}

.contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-form {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.contact-form h2 {
    font-size: 2.3rem;
    color: #555;
    font-weight: 500;
    padding-bottom: 2rem;
}

.contact-form input {
    border: none;
    border-bottom: 2px solid #666;
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

.contact-form input:focus {
    outline: none;
}

.contact-form textarea {
    border: none;
    border-bottom: 2px solid #666;
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

.contact-form textarea:focus {
    outline: none;
}

.contact-form button {
    margin-top: 1.5rem;
}


/* ########## trademark styling ############  */
#trademark {
    padding: 1.2rem 0;
    text-align: center;
    background-color: black;
}

.mark {
    font-size: 3rem;
    margin: 0 1rem;
    color: white;
}

.trade-description {
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
    padding-top: .8rem;
}

/* ######## media quaries #############  */

@media (max-width: 1070px) {
    .showcase-container .main-head {
        font-size: 3.5rem;
    }
}

@media (max-width:760px) {
    .contact-container {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .menu-items li {
        list-style: none;
        margin: 0 .4rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

@media (max-width: 633px) {
    .showcase-container .main-head {
        font-size: 2.5rem;
    }
}

@media (max-width: 615px) {
    #navbar {
        height: 6rem;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
    }

    .navbar-container input[type="checkbox"] {
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 15px;
        left: 11px;
        z-index: 40;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 15px;
        left: 11px;
        z-index: 15;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger-lines .line {
        display: block;
        height: 6px;
        width: 100%;
        background: rgba(255, 255, 255, 0.864);
        border-radius: 1.2rem;
        transition: all .3s ease-in-out;
    }

    .menu-items {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        background-color: black;
        height: 100vh;
        width: 25rem;
        transform: translateX(-200%);
        padding: 0 4rem;
        padding-top: 4rem;

        transition: all .3s ease-in-out;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(-15%);
    }

    .menu-items li {
        margin-top: 3rem;
        font-size: 2rem;
    }

    .logo {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 500;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        opacity: 0;
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }


}

@media (max-width: 600px) {
    .topic {
        flex-direction: column;
        height: 38rem;
    }

    .topic-description {
        padding: .8rem 0;
    }
}

@media (max-width: 400px) {
    .showcase-container .techno-head {
        font-size: 2rem;
    }

    .showcase-container .dated {
        font-size: 2rem;

    }
}





/* ############### registration form #############  */
#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/register-img-3.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.registration-container {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.registration-heading {
    font-size: 5rem;
    color: rgb(255, 102, 0);
    text-align: center;
    margin-top: 8rem;
    font-weight: 600;
}

.person {
    margin: 0 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 5rem;

}

.person input[type="radio"] {
    height: 4rem;
    width: 4rem;
    border-radius: 2.5rem;
    margin-top: 2.5rem;
}

.person-face i {
    font-size: 20rem;
    color: rgb(255, 102, 0);
}

#registration button {
    margin-bottom: 10rem;
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;

}

/* ########## registration media quaries #########  */
@media (max-width: 1312px) {
    .person-face i {
        font-size: 16rem;
    }
}

@media (max-width: 1160px) {
    .person-face i {
        font-size: 7rem;
    }

    .registration-container {
        flex-direction: column;
    }

    .registration-heading {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .person {
        margin-bottom: 0;
        margin-top: 3rem;
    }

    #registration button {
        margin-bottom: 2rem;
    }
}

@media (max-width: 550px) {
    #registration button {
        margin-bottom: 1rem;
    }

    .person input[type="radio"] {
        height: 3rem;
        width: 3rem;
        border-radius: 2.5rem;
        margin-top: 3rem;
    }
}


@media (max-width:625px) {
    .onclickbutton {
        font-size: 1.4rem;
    }
}